@font-face {
    font-family: 'FiraCode';
    src: url('./font/FiraCode-VF.ttf');
}

@font-face {
    font-family: 'XingXing';
    src: url('./font/XingXingDeYeMiRenDeYan-2.ttf');
}

@font-face {
    font-family: 'SanJiHua';
    src: url('./font/SanJiHuaXinJianTi-2.ttf');
}

body {
    font-family: 'FiraCode', 'XingXing';
}

html,
body,
#app {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}